<div class="padding-set">
	<marquee style="WIDTH: 288px; HEIGHT: 200px; float: right" scrollamount="2" direction="up" >

		<div class="qoute">
			<div align="left" >
				<p class="text-muted"> <small>我是说孩子们都在狂奔，也不知道自己是在往哪儿跑，我得从什么地方出来，把他们捉住。我整天就干这样的事。我只想当个麦田的守望者。我知道这有点异想天开，可我真正喜欢干的就是这个。</small></p >
				<p class="text-muted"> <small>每当我们放纵感情时，地球也为之变形；没有冬天，没有黑夜；一切悲剧，一切厌倦，荡然无存--甚至一切义务；除了亲爱的人的喜气洋洋的身影，什么也不满这不断进展的永恒。让灵魂确信在宇宙的某个地方，它应当与它的朋友重逢，它会独自满足、快乐千年。</small></p >
				<p class="text-muted"> <small>于千万人之中，遇见你所遇见的人；于千万年之中，时间的无涯荒野里，没有早一步，也没有晚一步，刚巧赶上了。</small></p >
			</div >
		</div>
	</marquee >
</div>
