
				<button type="button" class="btn btn-danger padding" data-toggle="collapse" 
				data-target="#demo">
				关于捐衣&邮寄流程
			</button>

			<div id="demo" class="collapse in">
				<small>
					<ol>
						<li>家里收拾出不再穿的旧衣包鞋书等等（内衣啦、破洞很大啦建议自裁拖地）。</li>
						<li>敬请清洗干净,(能用消毒液浸泡一下最好)，晒干。——这一点，是对对方的尊重与负责，还希望好心的朋友们能不嫌麻烦地做一下啦。</li>
						<li>装袋——在邮局有邮寄包裹专用的纸箱，但比较贵，最小的都要花8、9元钱。因此我们建议大家自找纸箱或不透明的布袋（米袋、面粉袋，自己用布缝一个布袋都可以，比较节约），最好先把衣物先分装进塑料袋再装进纸箱或布袋，因为这样可以避免衣物在邮寄过程中被雨水淋湿。是普通包裹，寄快件不实用费用也高），用力填上地址。
							<br><em>注意： 此时不要把纸箱或袋子封口，因为邮局要查看里面的东西。</em></li>
							<li>扛到邮政局。</li>
							<li>购买包裹单，5毛，包裹单要绿色的，最便宜又实用（邮局人员往往会问你要寄快件还是普通包裹，寄快件不实用费用也高），用力填上地址。</li>
							<li>把袋子封好（邮局会有针线提供缝袋子封口），写上地址。</li>
							<li>可以选择保价，1元可保100元的东东。</li>
							<li>寄吧！看目的地的远近，每公斤收费是2块－4块钱。</li>
						</ol>
					</small>




				</div> 