<div class="row-fluid">
  <div class="span12">

      <!-- Home -->
      <%= render "articles/index/carousel" %>

      <!-- Description to this web -->  
      <div class="row-fluid">
          <div class="span2">
          </div>

          <div class="span10">
            <%= render "articles/index/description" %>
          </div>

    </div>

    <!-- /home -->

    <!-- Post List -->
    <div class="row-fluid">
      <div class="span2">
      </div>

      <!-- List all articles -->
      <div class="span8">

        <!-- Select button or nav -->
        <div calss="padding-set">
          <%= render "articles/index/sub_nav" %>
        </div>

        <!-- Show preview of a thumnail/article -->
        <% # @articles.each do |article| %>
        <% for i in 0..15 %>
        <%= render "articles/index/thumbnail" %>
        <% end %>

      </div> <!-- /.span8 -->


      <div class="span2">
      </div>
    </div>

  </div>
</div>
