   <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
        <%= image_tag("yifu3.jpg", class: "aaaa")%> 
        <div class="carousel-caption">
              <h3 class="text-left">
                <small>我们缺少:</small> 衣服
              </h3>
              <p class=" text-left"> <br>
                <em> 多一件衣服，寒冷的冬天便可以多一张温暖的笑脸。</em>
              </p>
            </div>

  
          </div>

        <div class="item">
          <%= image_tag("book4.jpeg")%>
            <div class="carousel-caption ">
              <h3 class="text-left">
                <small>我们缺少:</small> 图书
              </h3>
              <p class=" text-left"> <br>
                <em> 多一本书，就可以开启另外一个世界。</em>
              </p>
              <!-- <a class="btn btn-large btn-primary" href="#">Learn more</a> -->
            </div>
        </div>
        <div class="item">
          <%= image_tag("wenju.jpg")%>
            <div class="carousel-caption">
              <h3 class="text-left">

                  <small>我们缺少:</small> 文具
              </h3>
              <p class=" text-left"> <br>
                <em> 多一支笔，便可以描绘一个不同的人生。</em>
              </p>
              <!-- <a class="btn btn-large btn-primary" href="#">Browse gallery</a> -->
            </div>
        </div>

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->