<div class="span7">

       
            <h2>
               <strong>小太阳</strong>
            </h2>
            <p>
              <em><var>这降临到大地上后<br /> 你们听到的地一个<br /> 属于大地也属于天空<br /> 的声音：孩子们，听见了吗，那是太阳</var></em>
            <p>
  </div><!-- /span6 -->


        <div class="span5 bottom">
          <div class="">
            
            
              <small><%= link_to '我需要', new_article_path(type: 0), :class => "btn btn-danger btn-hg" %><!-- <a class="btn btn-danger btn-hg" href="#">我需要</a> --></small>

				
            <p>
              <small>点击这里，可以发布您需要的物资。</small>
            </p>
          </div>
          <div class="">
            
            
              <small><%= link_to '我能捐', new_article_path(type: 1), :class => "btn btn-primary btn-hg" %></small>
            
            <p>
              <small>如果您有闲置的物资，可以点击这里发布。</small>
            </p>
          </div>
        </div>