<p class="padding-set">
          </p>

          <ul class="nav nav-pills padding-set">
            <li>
              <a href="#">查看 List A</a>
            </li>
            <li>
              <a href="#">查看 List B</a>
            </li>
          </ul>