<p>
  物资详细情况
</p>
<br>

          <dt>
            类型:
          </dt>
          <dd>
            <%= @article.tag %>
          </dd>
          <br>
          <dt>
            联系方式:
          </dt>
          <dd>

            <%= @article.location %>
          </dd>
        </dl>
      </br>
        <blockquote>
          <p class="text-primary"><strong>物资: </strong>

            <%= @article.detail%>
          </p>
        </blockquote>

<!-- 
        <div class="padding">
          <br>
        </div>
        <div>
        </div> -->

